/* =========================================================
   Мобильная адаптация и бургер-меню
========================================================= */
.mobile-menu {
    display: none;
}

/* ----- БУРГЕР КНОПКА ----- */
.menu-toggle {
    display: none;
}

/* =========================================================
    МОБИЛЬНАЯ ВЕРСИЯ ДО 768px
========================================================= */
@media (max-width: 768px) {

    /* ----- КНОПКА БУРГЕРА ----- */
    .menu-toggle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 28px;
        height: 22px;

        background: none;
        border: none;
        padding: 0;
        cursor: pointer;

        margin-left: auto;
        z-index: 2000;
    }

    .menu-toggle span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #415167;
        border-radius: 3px;
        transition: 0.3s;
    }

    /* Анимация крестика */
    .menu-toggle.active span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }
    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }
    .menu-toggle.active span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    .header-center {
        display: none;
    }

    /* =========================================================
       МОБИЛЬНОЕ МЕНЮ
    ========================================================== */
    .mobile-menu {
        display: flex;
        flex-direction: column;

        position: fixed;
        top: 0;
        right: -100%;
        width: 75%;
        height: 100vh;

        background: #fff;
        padding: 100px 30px 30px;

        gap: 25px;
        transition: 0.35s ease;
        z-index: 1500;

        box-shadow: -4px 0 12px rgba(0,0,0,0.1);
    }

    .mobile-menu.open {
        right: 0;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        gap: 22px;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .mobile-menu a {
        font-size: 20px;
        font-weight: 700;
        color: #415167;
    }

    .header-cart {
        display: none;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        padding: 30px 20px;
        gap: 20px;
    }

    .hero-left h1 {
        font-size: 34px;
    }

    .hero-image {
        width: 100%;
        max-width: 360px;
        height: auto;
    }
}